<div class="d-inline-block">

<p>
<%= render @post %>
</p>



<div class="my-3">
  <%= render 'comments/form' %>
</div>

<% @post.comments.each do |comment| %>
  <p>
    <strong><%= comment.user.email %>:</strong>
    <%= comment.content %>
  </p>
<% end %>


  <%= link_to "Back to posts", posts_path, class:"btn btn-secondary m-3" %>
</div>

  <p class="fs-3">Our readers thoughts: </p>
  <% if @post.comments.any? %>
    <%= render @post.comments %>
  <% else %>      
      <p class="fw-bold">No comments yet. Be the first!</p>
  <% end %>


  